extends layout

block content
  .hero
    img#hero-logo(src="/img/Dinesmartbeige.png", alt="Dine Smart Logo")
    h2 Skip the Wait, Savor the Moment!
    .text-container
      p DineSmart is your ultimate dining companion, designed to make restaurant reservations and meal pre-ordering effortless. Whether you're planning a romantic dinner, a group gathering, or a quick meal on the go, DineSmart connects you with restaurants, allowing you to book tables, browse menus, and pre-order your favorite dishes—all in one seamless experience. Say goodbye to long waits and last-minute stress, and let DineSmart transform the way you dine.

    .carousel
        .carousel-container
            .carousel-item
                img(src="/img/car1.jpg", alt="Carousel Item 1")
            .carousel-item
                img(src="/img/car2.jpg", alt="Carousel Item 2")
            .carousel-item
                img(src="/img/car3.jpg", alt="Carousel Item 3")

  // Include the JavaScript file for the carousel
  script(src="/js/carousel.js")
