doctype html
html
  head
    title #{title}  // Dynamically sets the page title

    // Metadata for responsiveness and encoding
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // Link to styles file
    link(rel="stylesheet", href="/styles.css")
    script(src="/table_reservation.js")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
  body
    nav
        // Navigation bar with links to home and booking page
        .nav-bar
            // The following buttons include aria-label attributes for accessibility.
            // These labels describe the purpose of the buttons to screen readers.
            button(onclick="window.location.href='/'" aria-label="Navigate to Home") Home
            button(onclick="window.location.href='/restaurant'" aria-label="Navigate to Restaurant Profile") Restaurant
            button(onclick="window.location.href='/menu'" aria-label="Navigate to Menu Page") Menu

    // Placeholder for specific page content
    block content  
    
    footer
      p © 2024 DineSmart
//- =======
//- html 
//-     head    
//-         title  hi
//-         link(rel="stylesheet", href="styles.css")
//-     body 
//-         block content
//- >>>>>>> Dev-Ammad
