extends layout

block content1
    nav
        // Navigation bar with links to home and booking page
        .nav-bar
            // The following buttons include aria-label attributes for accessibility.
            // These labels describe the purpose of the buttons to screen readers.
            button(onclick="window.location.href='/'" aria-label="Navigate to Home") Home
            button(onclick="window.location.href='/restaurants'" aria-label="Navigate to Restaurant Profile") Restaurant
            button(onclick="window.location.href='/menu'" aria-label="Navigate to Menu Page") Menu

    // Placeholder for specific page content
    block content  
    
    footer
      p © 2024 DineSmart

