//- Extending the base layout
extends layout

//- Main content block
block content1
    //- Navigation Bar Section
    nav.nav-bar
        .nav-center
            button(onclick="window.location.href='/'" aria-label="Navigate to Home") Home
            button(onclick="window.location.href='/restaurants'" aria-label="Navigate to Restaurant Profile") Restaurant
            button(onclick="window.location.href='/menu'" aria-label="Navigate to Menu Page") Menu

        .nav-right
            if isAuthenticated
                // Cart Icon Button
                button#cart-button(onclick="window.location.href='/cart'", aria-label="View Cart")
                    img(src="/img/cart_icon.png", alt="Cart", width="24", height="24")
                // Logout Button
                .user-dropdown
                    button#profile-button(aria-label="User Profile Options") 
                        img(src="/img/user_icon.png", alt="User Profile", width="24", height="24")
                        | Account
                    .dropdown-content
                        p(onclick="window.location.href='/my-orders'") My Orders
                        p(onclick="window.location.href='/logout'") Logout
            else
                // Sign In Button
                button#signin-button(onclick="window.location.href='/login'" aria-label="Sign In") Sign In

    //- Placeholder for specific page content; will be overridden in extended templates
    block content  
    
    //- Footer Section
    footer
        .footer-container
            //- Left side of the footer: Copyright
            .footer-left
                p © 2024 DineSmart
            //- Right side of the footer: Privacy and Terms links
            .footer-right
                p(onclick="window.location.href='/privacy-policy'" aria-label="Navigate to Privacy Policy") Privacy Policy
                p(onclick="window.location.href='/terms-of-service'" aria-label="Navigate to Terms of Service") Terms of Service
