extends navBar

block content

  // Main container for the content on the page
  .container
    
    .content-box
      h1 Privacy Policy


      .details
        p 
            |Lorem ipsum odor amet, consectetuer adipiscing elit. Inceptos dignissim imperdiet hendrerit tortor himenaeos per ullamcorper class. Sed molestie malesuada senectus urna per. Potenti libero platea libero id euismod elementum volutpat leo viverra. Inceptos purus ridiculus tempus odio himenaeos; metus finibus quisque. Amet class nunc sed at, ridiculus turpis. Potenti sed aenean tortor accumsan metus quis, risus habitant? Non facilisis viverra tellus lacinia auctor curabitur. 
            |Adipiscing donec mus inceptos molestie sociosqu tortor vitae, dapibus ex.
            br
            br
            |Etiam accumsan auctor a venenatis senectus mi. Interdum himenaeos laoreet leo ex viverra. Parturient per lobortis sagittis duis feugiat cubilia auctor? Fringilla gravida per; odio commodo volutpat integer. Erat ultrices a eleifend hendrerit primis sed posuere nullam! Dignissim pharetra libero taciti fames quis in tempor viverra. Mattis nibh est mollis augue sodales etiam diam sit cras. Facilisis bibendum facilisis porta orci interdum.
            |Fusce nibh vehicula lacus, senectus condimentum libero urna.
            |isus ultricies iaculis sit natoque tempor turpis semper. 
            br
            br
            |In tincidunt nisl dolor nibh laoreet. Aliquam eu integer erat velit fermentum nostra dignissim torquent rhoncus. Elit orci dui tempus rhoncus finibus volutpat mi vel. Fusce magna accumsan tristique quisque mattis sagittis interdum suscipit. Facilisis vulputate nam ad mus pretium. Mi sit leo suscipit sapien; vestibulum arcu augue. Tortor vehicula nisi ipsum nostra cras ipsum enim lacus vel. Magna venenatis netus bibendum purus dictum suscipit sociosqu ut.