extends navBar

block content
    .container-login
        .hregcontainer
            //- Logo Placeholder
            .logo-placeholder-small
                img(src="/img/Dinesmart_small_b.png") 
            //- Heading
            .heading-register
                h1 
                    |Hey, We are glad you 
                    br
                    |chose DineSmart! 
                p.sub-heading Let's get started

        if registerError
            .alert.alert-danger= registerError
            
        //- Sign-Up Form        
        form.formreg(action="/register" method="post")
        
            .form-group
                label(for="name") Name:
                input#name(type="text" name="name" placeholder="Enter your full name" required)
        
            .form-group
                label(for="phone") Mobile number:
                input#phone(type="tel" name="phone" placeholder="Enter your phone number" required)

            .form-group
                label(for="email") Email: 
                input#email(type="email" name="email" placeholder="Please enter your email address" required)

            .form-group
                label(for="password") Password:
                input#password(type="password" name="password" placeholder="Please enter your password" required)

            //- Buttons
            .button-container
                button.button.btn-signup(type="submit") Sign up 
                button.button.btn-back(type="button" onclick="history.back()" aria-label="Go back to the previous page") Back
 
